{% extends "base/index.html" %}

{% block title %}
Homepage
{% endblock title %}
{% block body %}
<div class="login-container">
	<h2>Login</h2>
	<form hx-post="/htmx/auth/login" hx-target="#message" hx-swap="innerHTML">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
		</div>
		<button type="submit" class="login-button">Login</button>
	</form>
	<div id="message">
	</div>
</div>
{% endblock body %}
